.homeImg {
  /* background-image: url(../assets/desktopcom.jpg); */
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 15px 60px;
  color: #fff;
  background-color: rgb(135, 85, 255);
  border-radius: 8px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(83, 83, 231);
  color: white;
  transform: scale(1.05);
}
