.logo {
  width: 90px;
  height: 60px;
  cursor: pointer;
}

.navBar {
  background-color: rgb(135, 85, 255);
  height: 90px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.main a {
  text-decoration: none;
  color: #fff;
  margin-right: 16px;
  font-size: 24px;
}
.main a.active {
  color: aqua;
  border-bottom: 1px solid aqua;
}

.main a:hover {
  color: aqua;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  scale: 1.1;
}
.footer {
  height: 110px;
  background-color: rgb(135, 85, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.socialMedia svg {
  color: #fff;
  font-size: 32px;
  margin: 12px;
}

.socialMedia svg:hover {
  color: aqua;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  scale: 1.1;
}

.footer p {
  color: #fff;
  font-size: 32px;
}
